:root {
  --font-main: "IBM Plex Mono", monospace;
  --font-body: "Inter", sans-serif;

  --font-xlg: 2rem;
  --font-lg: 1.5rem;
  --font-md: 1.125rem;
  --font-sm: 0.875rem;

  --primary: #fca311;
  --primary-hover: #ffc300;
  --neutral-halo: #ffffff;
  --neutral-soft: #e5e5e5;
  --neutral-tint: #9fa4ad;
  --neutral-dim: #5a6275;
  --neutral-dark: #14213d;
  --neutral-deep: #000000;

  --rds-lg: 2.125rem;
  --rds-md: 1.5rem;
  --rds-sm: 0.5rem;

  --brd-lg: 4px solid var(--neutral-soft);
  --brd-md: 2px solid var(--neutral-soft);
  --brd-sm: 1px solid var(--neutral-soft);

  --flex: flex;
  --flex-column: column;
  --flex-row: row;

  --j-start: start;
  --a-end: end;
  --a-stretch: stretch;

  --center: center;

  --j-end: end;
  --j-start: start;
  --j-between: space-between;
  --j-around: space-around;
  --j-evenly: space-evenly;

  --gap-4: 0.25rem;
  --gap-8: 0.5rem;
  --gap-12: 0.75rem;
  --gap-16: 1rem;
  --gap-24: 1.5rem;
  --gap-32: 2rem;

  --p-4: 0.25rem;
  --p-8: 0.5rem;
  --p-12: 0.75rem;
  --p-16: 1rem;
  --p-24: 1.5rem;
  --p-32: 2rem;
  --p-64: 4rem;
  --p-80: 5rem;

  --disabled: 0.8;
}
