@keyframes animeLeft {
  to {
    opacity: var(--opacity-100);
    transform: var(--dist-initial);
  }
}

@keyframes animeTop {
  to {
    opacity: var(--opacity-100);
    transform: var(--dist-initial);
  }
}

@keyframes animeBottom {
  to {
    opacity: var(--opacity-100);
    transform: var(--dist-initial);
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
